.manage-categories-container {
   
    color: #fff;
    min-height: calc(100vh - 80px); /* Ajuster pour la barre fixe */
    padding: 20px;
}

.MuiTypography-h5,
.MuiTypography-h6 {
    color: #ad9407ff; /* Couleur d'accentuation pour les titres */
}

.MuiTypography-body1 {
    color: #fff;
}